
<nav class="navbar navbar-light" style="background-color: #94cbf3;">
    <a class="navbar-brand" href="/">
        guiapress
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories"> categorias</a>
        </li>
    </ul>
</nav>